@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.remove-scrollbar {
      scrollbar-color: green !important;
      scrollbar-arrow-color: yellow !important;
      scrollbar-base-color: green !important;
      scrollbar-width: 10px !important;
      scrollbar-shadow-color: green !important;
} */


body {
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      overflow-y: scroll;
}

::-webkit-scrollbar-track {
      display: none;
}

::-webkit-scrollbar-button {
      display: none;
}

::-webkit-scrollbar-corner {
      display: none;
}

::-webkit-scrollbar-thumb {
      display: none;
}

::-webkit-scrollbar-track-piece {
      display: none;
}


.hide {
      display: none;
}